@page
@model site_test_task.Pages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ShortUrl</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ShortUrl.Id" />
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="ShortUrl.OriginalUrl" class="control-label"></label>
                <input asp-for="ShortUrl.OriginalUrl" class="form-control" />
                <span asp-validation-for="ShortUrl.OriginalUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortUrl.ShortCode" class="control-label"></label>
                <input asp-for="ShortUrl.ShortCode" class="form-control" maxlength="8" />
                <span asp-validation-for="ShortUrl.ShortCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortUrl.CreatedAt" class="control-label"></label>
                <input asp-for="ShortUrl.CreatedAt" class="form-control" />
                <span asp-validation-for="ShortUrl.CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortUrl.ClickCount" class="control-label"></label>
                <input asp-for="ShortUrl.ClickCount" class="form-control" />
                <span asp-validation-for="ShortUrl.ClickCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
